@font-face {
	font-family: 'SOYOMapleBoldTTF';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/SOYOMapleBoldTTF.woff2') format('woff2');
}
@font-face {
	font-family: 'Orbit-Regular';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/Orbit-Regular.woff2') format('woff2');
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	/* list-style: none;
	margin: 0;
	padding: 0; */
}
a{
  text-decoration: none;
}
a:active, a:visited{
  color: inherit;
}
body{
	max-width: 1000px;
	margin: 0 auto;
	font-family: 'Orbit-Regular';
	border: 1px solid lightgray;
}
h1,h2,h3,h4 { 
	margin: 0; 
	padding: 0;
	text-shadow: 1px 1px 2px gray;
}
h1 {
	margin-bottom: 20px;
	font-size: 36px;
	color: #F97B22;
}
p{
	margin: 0; 
	padding: 0;
}
button{
	font-family: 'SOYOMapleBoldTTF';
	letter-spacing: -1px;
}
